################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

external/
packages/
.vs/
x64/