################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

packages/
.vs/CSE387Code/v16/Browse.VC.db