################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

External/
packages/
clean.bat
.vs/CSE387Code/v16/Browse.VC.db