################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

External/
packages/
.vs/
x64/